.menu {
    background: $white;
    padding: 5px 0;
    border-bottom: 1px solid $border-color;
    align-content: center;
    height: 65px;
    position: relative;
    z-index: 99;

    &__container {
        display: grid;
        grid-template-columns: 200px 1fr;
        max-width: 1500px;
        margin: 0 auto;
        padding: 0 20px;
    }

    &__logo {
        width: 100%;
        max-width: 200px;
        display: flex;
        align-items: center;

        img {
            width: 100%;
        }
    }

    &__nav {
        width: 100%;
        padding: 0 20px;
        justify-self: end;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 5px;
    }

    &__item {
        padding: 10px 2%;
        transition: 0.3s;
    }

    &__link {
        color: $primary-color;
        text-align: center;
        display: block;
        text-decoration: none;
        padding: 4px 7px;
        border-radius: 5px;
        font-size: 14px;
        
        &:hover {
            color: $white;
            background-color: $primary-color;
        }

        &--contact {
            background-color: $button-bg;
            color: $white;
            font-weight: bold;
            border: none;

            &:hover {
                background-color: darken($button-bg, 10%);
                color: $white;
            }
        }
    }

    &__mobile-nav {
      display: none;
      width: 25px;
      height: 20px;
      justify-self: end;
      position: relative;
      /* position bars absolutely and center them precisely using left:50% + translateX(-50%) */
      align-self: center;
      cursor: pointer;
      user-select: none;

      span {
        position: absolute;
        left: 50%;
        width: 18px;
        height: 3px;
        background-color: $black;
        transform-origin: center center;
        transition: transform 0.28s cubic-bezier(.2,.8,.2,1), opacity 0.18s ease;
        will-change: transform, opacity;
      }

      span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -7px) rotate(0);
      }

      span:nth-child(2) {
        top: 50%;
        transform: translate(-50%, 0) rotate(0);
      }

      span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, 7px) rotate(0);
      }

      &--active {
        span:nth-child(1) {
          transform: translate(-50%, 0) rotate(45deg);
        }

        span:nth-child(2) {
          opacity: 0;
          transform: translate(-50%, 0) scaleX(0);
        }

        span:nth-child(3) {
          transform: translate(-50%, 0) rotate(-45deg);
        }
      }
    }

    @include desktop {
        &__link {
          font-size: 12px;
        }
    }

    @include tablet {
        &__nav {
          display: none;
          position: absolute;
          background: $white;
          width: 100vw;
          height: calc(100vh - 65px);
          top: 65px;
          left: 0;
          overflow-y: scroll;

          &--active {
              display: block;
          }
        }

        &__list {
          grid-template-columns: 1fr;
            flex-direction: column;
        }

        &__item {
          border-bottom: 1px solid $border-color;
          width: 100%;
          text-align: center;
        }

        &__mobile-nav{
          display: flex;
        }
    }
}
